<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot='start'>
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Regisztráció</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm.getForm()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Személy adatai</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Név</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('name')" error="required" message="Mező kitöltése kötelező."></app-error-message>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('email')" error="required" message="Mező kitöltése kötelező."></app-error-message>
        <app-error-message [field]="registerForm.getForm().get('email')" error="email" message="Mező kitöltése kötelező."></app-error-message>


        <ion-item>
          <ion-label position="floating">Jelszó</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('password')" error="required" message="Mező kitöltése kötelező."></app-error-message>
        <app-error-message [field]="registerForm.getForm().get('password')" error="minlength" message="A jelszó egalább 6 karakter kell legyen"></app-error-message>


        <ion-item>
          <ion-label position="floating">Jelszó újra</ion-label>
          <ion-input type="password" formControlName="repeatPassword"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('repeatPassword')" error="isntMatching" message="A jelszó nem egyezik"></app-error-message>

        <ion-item>
          <ion-label position="floating">Telefonszám</ion-label>
          <ion-input type="tel" formControlName="phone"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('phone')" error="required" message="Mező kitöltése kötelező."></app-error-message>

      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cím adatai</ion-card-title>
      </ion-card-header>
      <ion-card-content formGroupName="address">
        <ion-item>
          <ion-label position="floating">Cím</ion-label>
          <ion-input type="text" formControlName="street" #autocomplete></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('address').get('street')" error="required" message="Mező kitöltése kötelező."></app-error-message>

        <ion-item>
          <ion-label position="floating">Házszám</ion-label>
          <ion-input type="tel" formControlName="number"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('address').get('number')" error="required" message="Mező kitöltése kötelező."></app-error-message>

        <ion-item>
          <ion-label position="floating">Város</ion-label>
          <ion-input type="text" formControlName="neighborhood"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('address').get('neighborhood')" error="required" message="Mező kitöltése kötelező."></app-error-message>

        <ion-item>
          <ion-label position="floating">Kiegészítés</ion-label>
          <ion-input type="text" formControlName="complement"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('address').get('complement')" error="required" message="Mező kitöltése kötelező."></app-error-message>

        <ion-item>
          <ion-label position="floating">Irányítószám</ion-label>
          <ion-input type="tel" formControlName="zipCode"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('address').get('zipCode')" error="required" message="Mező kitöltése kötelező."></app-error-message>

        <ion-item>
          <ion-label position="floating">Megye</ion-label>
          <ion-input type="text" formControlName="state"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('address').get('state')" error="required" message="Mező kitöltése kötelező."></app-error-message>

        <ion-item>
          <ion-label position="floating">Ország</ion-label>
          <ion-input type="text" formControlName="city"></ion-input>
        </ion-item>
        <app-error-message [field]="registerForm.getForm().get('address').get('city')" error="required" message="Mező kitöltése kötelező."></app-error-message>

      </ion-card-content>
    </ion-card>
    <ion-button size="full" color="light" (click)=register()>Regisztráció</ion-button>
  </form>
</ion-content>
